{% include '@' ~ NAMESPACE ~ '/head_panel.html' %}

{% if PHP_VALID and PHPBB_VALID %}
	<form id="announceonindex" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('ANNOUNCE_ON_INDEX_OPTIONS') }}</legend>

			<dl>
				<dt><label for="announce_on_index_enable">{{ lang('ANNOUNCE_ON_INDEX_ENABLE') }}{{ lang('COLON') }}</label></dt>
				<dd>
					<input type="radio" id="announce_on_index_enable1" name="announce_on_index_enable" value="1"{% if ANNOUNCE_ON_INDEX_ENABLED %} checked="checked"{% endif %} />
					<label class="set" for="announce_on_index_enable1">{{ lang('ENABLE') }}</label>
					<input type="radio" id="announce_on_index_enable0" name="announce_on_index_enable" value="0"{% if not ANNOUNCE_ON_INDEX_ENABLED %} checked="checked"{% endif %} />
					<label class="unset" for="announce_on_index_enable0">{{ lang('DISABLE') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_global_on_index">{{ lang('SHOW_GLOBALS') }}{{ lang('COLON') }}</label><br><span>{{ lang('SHOW_GLOBALS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="announce_global_on_index1" name="announce_global_on_index" value="1"{% if SHOW_GLOBALS %} checked="checked"{% endif %} />
					<label class="set" for="announce_global_on_index1">{{ lang('YES') }}</label>
					<input type="radio" id="announce_global_on_index0" name="announce_global_on_index" value="0"{% if not SHOW_GLOBALS %} checked="checked"{% endif %} />
					<label class="unset" for="announce_global_on_index0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_global_on_index">{{ lang('SHOW_GLOBAL_ICON') }}{{ lang('COLON') }}</label><br><span>{{ lang('SHOW_GLOBAL_ICON_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="announce_global_icon_on_index1" name="announce_global_icon_on_index" value="1"{% if SHOW_GLOBAL_ICON %} checked="checked"{% endif %} />
					<label class="set" for="announce_global_icon_on_index1">{{ lang('YES') }}</label>
					<input type="radio" id="announce_global_icon_on_index0" name="announce_global_icon_on_index" value="0"{% if not SHOW_GLOBAL_ICON %} checked="checked"{% endif %} />
					<label class="unset" for="announce_global_icon_on_index0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_announcement_on_index">{{ lang('SHOW_ANNOUNCEMENTS') }}{{ lang('COLON') }}</label><br><span>{{ lang('SHOW_ANNOUNCEMENTS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="announce_announcement_on_index1" name="announce_announcement_on_index" value="1"{% if SHOW_ANNOUNCEMENTS %} checked="checked"{% endif %} />
					<label class="set" for="announce_announcement_on_index1">{{ lang('YES') }}</label>
					<input type="radio" id="announce_announcement_on_index0" name="announce_announcement_on_index" value="0"{% if not SHOW_ANNOUNCEMENTS %} checked="checked"{% endif %} />
					<label class="unset" for="announce_announcement_on_index0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_guest">{{ lang('ALLOW_GUESTS') }}{{ lang('COLON') }}</label><br><span>{{ lang('ALLOW_GUESTS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="announce_guest1" name="announce_guest" value="1"{% if ALLOW_GUESTS %} checked="checked"{% endif %} />
					<label class="set" for="announce_guest1">{{ lang('YES') }}</label>
					<input type="radio" id="announce_guest0" name="announce_guest" value="0"{% if not ALLOW_GUESTS %} checked="checked"{% endif %} />
					<label class="unset" for="announce_guest0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_avatar">{{ lang('ANNOUNCE_AVATAR') }}{{ lang('COLON') }}</label></dt>
				<dd>
					<input type="radio" id="announce_avatar1" name="announce_avatar" value="1"{% if ANNOUNCE_AVATAR %} checked="checked"{% endif %} />
					<label class="set" for="announce_avatar1">{{ lang('YES') }}</label>
					<input type="radio" id="announce_avatar0" name="announce_avatar" value="0"{% if not ANNOUNCE_AVATAR %} checked="checked"{% endif %} />
					<label class="unset" for="announce_avatar0">{{ lang('NO') }}</label>
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_avatar_size">{{ lang('ANNOUNCE_AVATAR_SIZE') }}{{ lang('COLON') }}</label><br><span>{{ lang('ANNOUNCE_AVATAR_SIZE_EXPLAIN') }}</span></dt>
				<dd>
					<input class="textbox" id="announce_avatar_size" type="number" maxlength="2" name="announce_avatar_size" value="{{ ANNOUNCE_AVATAR_SIZE }}" min="1" max="99" />
				</dd>
			</dl>

			<dl>
				<dt><label for="announce_event">{{ lang('ALLOW_EVENTS') }}{{ lang('COLON') }}</label><br><span>{{ lang('ALLOW_EVENTS_EXPLAIN') }}</span></dt>
				<dd>
					<input type="radio" id="announce_event1" name="announce_event" value="1"{% if ALLOW_EVENTS %} checked="checked"{% endif %} />
					<label class="set" for="announce_event1">{{ lang('YES') }}</label>
					<input type="radio" id="announce_event0" name="announce_event" value="0"{% if not ALLOW_EVENTS %} checked="checked"{% endif %} />
					<label class="unset" for="announce_event0">{{ lang('NO') }}</label>
				</dd>
			</dl>
		</fieldset>

		<fieldset>
			<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
			<p class="submit-buttons">
				<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
				<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			</p>
			{{ S_FORM_TOKEN }}
		</fieldset>
	</form>

	{% include '@' ~ NAMESPACE ~ '/donate.html' %}
{% endif %}
